<!DOCTYPE html>
<html>
	<head>
		<title>Community Board for Event Listings</title>
		<link href="bootstrap.css" rel="stylesheet">
		<link href="custom.css" rel="stylesheet">	
	</head>
	<body>
		<div class="container">
		<div class="row">
		<div class="col-md-12">
			<h1><strong>Tech Community Events Bulletin Board</strong></h1>
		</div>
		</div>

		<div class="jumbotron">
		<h1></h1>
		</div>
		
		<div class="row">
		<div class="col-md-3">
			<h4>Signup to List Your Event</h4>
				<form method="GET" action="/signup">
					<button>Signup</button><br/>
				</form>
				<br/>
				<form method="GET" action="/logon">
					<button>Logon</button><br/>
				</form>
		</div>
		<div class="col-md-9">			
		<h3>Upcoming Events:</h3>
		<%- include eventtable.ejs %>
		</div>
		</div>

	    </div>

	    <div class="footer">
		<div class="container">
		    <p class="text-muted">@2014 The Hamster Coding Club</p>
	    </div>
	    </div>
	</body>
</html>