<!DOCTYPE html>
<html>
	<head>
		<title>Community Board for Event Listings</title>
	</head>
	<body>
		<h1>List Your Event Here</h1>
		<h3>Signup</h3>
		<h3>Logon</h3>
		<h3>Upcoming Events</h3>		
	</body>
</html>